# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
venv*/
.venv/
venv311/
env/
.env/

# Distribution / packaging
build/
dist/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE settings






.idea/
*.iml

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
